[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
azure-identity = "*"
msal = "*"
msgraph-sdk = "*"
python-dotenv = "*"
PyJWT = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.12"
